In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
import json
# Import API key
import gmaps
# Google developer API key
from config import gkey
from datetime import date
# Configure gmaps
gmaps.configure(api_key=gkey)
from pprint import pprint
import itertools
import gmaps.datasets
from ipywidgets.embed import embed_minimal_html

In [2]:
combined_df=pd.read_csv("Bird_Spin_Lime_Lat_Lon.csv")

In [5]:
locations = combined_df[['lat','lon']]
            
locations

count = combined_df["Count"]
count

0      324
1      606
2       38
3       73
4       75
      ...
61     141
62    1708
63      60
64      25
65     227
Name: Count, Length: 66, dtype: int64

In [6]:
combined_df

,Unnamed: 0,Unnamed: 0.1,lat,lon,City,Operator,Count,Date
0,0,0,38.818551,-77.086283,"Alexandria, VA",Bird,324,2021-05-17
1,1,1,41.829070,-87.677237,"Chicago, IL",Bird,606,2021-05-17
2,2,2,41.516952,-81.640884,"Cleveland, OH",Bird,38,2021-05-17
3,3,3,39.987058,-83.018589,"Columbus, OH",Bird,73,2021-05-17
4,4,4,34.057228,-118.379876,"Culver City, CA",Bird,75,2021-05-17
...,...,...,...,...,...,...,...,...
61,73,73,28.538335,-81.379237,"Orlando, FL",Spin,141,5/17/2021
62,76,76,38.907192,-77.036871,"Washington, DC",Spin,1708,5/17/2021
63,77,77,38.580461,-121.530234,"West Sacramento, CA",Spin,60,5/17/2021
64,78,78,47.508567,-122.355116,"White Center, WA",Spin,25,5/17/2021
65,80,80,36.099860,-80.244216,"Winston Salem, NC",Spin,227,5/17/2021

In [15]:

#generating the heat map using the city(lat and lon values) with
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights = count,
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)
embed_minimal_html('escooter_heatmap.html', views=[fig])

fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# df = gmaps.datasets.load_dataset_as_df('combined_df')

bird_df = combined_df.loc[combined_df['Operator'] == 'Bird',['lat','lon']]
lime_df = combined_df.loc[combined_df['Operator'] == 'Lime',['lat','lon']]
spin_df = combined_df.loc[combined_df['Operator'] == 'Spin',['lat','lon']]

# define bird marker layer
bird_layer = gmaps.symbol_layer(
    bird_df, fill_color='rgba(0, 150, 0, 0.4)',
    stroke_color='rgba(0, 150, 0, 0.4)', scale=4
)
# define lime marker layer
lime_layer = gmaps.symbol_layer(
    lime_df, fill_color='rgba(255,127,80, 0.4)',
    stroke_color='rgba(255,127,80, 0.4)', scale=4
)
# define lime marker layer
spin_layer = gmaps.symbol_layer(
    spin_df, fill_color='rgba(138,43,226, 0.4)',
    stroke_color='rgba(138,43,226, 0.4)', scale=4
)
fig = gmaps.figure()
fig.add_layer(bird_layer)
fig.add_layer(lime_layer)
fig.add_layer(spin_layer)
# # fig.add_layer(heat_layer)
embed_minimal_html('escooter_map_layered_markers.html', views=[fig])
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
combined_df

,Unnamed: 0,Unnamed: 0.1,lat,lon,City,Operator,Count,Date
0,0,0,38.818551,-77.086283,"Alexandria, VA",Bird,324,2021-05-17
1,1,1,41.829070,-87.677237,"Chicago, IL",Bird,606,2021-05-17
2,2,2,41.516952,-81.640884,"Cleveland, OH",Bird,38,2021-05-17
3,3,3,39.987058,-83.018589,"Columbus, OH",Bird,73,2021-05-17
4,4,4,34.057228,-118.379876,"Culver City, CA",Bird,75,2021-05-17
...,...,...,...,...,...,...,...,...
61,73,73,28.538335,-81.379237,"Orlando, FL",Spin,141,5/17/2021
62,76,76,38.907192,-77.036871,"Washington, DC",Spin,1708,5/17/2021
63,77,77,38.580461,-121.530234,"West Sacramento, CA",Spin,60,5/17/2021
64,78,78,47.508567,-122.355116,"White Center, WA",Spin,25,5/17/2021
65,80,80,36.099860,-80.244216,"Winston Salem, NC",Spin,227,5/17/2021

In [10]:
#look at google gmaps documentation
# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Operator Name</dt><dd>{Operator}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>E-Scooters</dt><dd>{Count}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
escooter_info = [info_box_template.format(**row) for index, row in combined_df.iterrows()]
locations = combined_df[["lat", "lon"]]

In [13]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations,
    info_box_content=escooter_info)
fig.add_layer(markers)

# Display figure

embed_minimal_html('escooter_map_markers_info_box.html', views=[fig])
fig

Figure(layout=FigureLayout(height='420px'))